
        </div>
        <script type="text/javascript" src="/js/jquery/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery/js.cookie-2.2.1.min.js"></script>

        <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script type="text/javascript" src="/js/bootstrap/bootstrap-table.min.js"></script>
        <!-- Latest compiled and minified Locales -->
        <script type="text/javascript" src="/js/bootstrap/bootstrap-table-fr-FR.min.js"></script>

        <script type="text/javascript" src="/js/bootstrap/tagsinput.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap4-toggle.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap-colorpicker.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap-table-reorder-rows.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap/bootstrap-switch.min.js"></script>

        <script type="text/javascript" src="/js/moment/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/core/main.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/moment/main.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/daygrid/main.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/interaction/main.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/timegrid/main.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/moment-timezone/main.js"></script>
        <script type="text/javascript" src="/js/fullcalendar/list/main.js"></script>

        <script type="text/javascript" src="/js/datetimepicker/bootstrap-datetimepicker.js" charset="UTF-8"></script>
        <script type="text/javascript" src="/js/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery.tablednd.js"></script>

        <!--     <script type="text/javascript" src="/js/media.js"></script>
        <script type="text/javascript" src="/js/user.js"></script>
        <script type="text/javascript" src="/js/global.js"></script>
        <script type="text/javascript" src="/js/event.js"></script>
        <script type="text/javascript" src="/js/fileupload.js"></script>
        <script type="text/javascript" src="/js/settings.js"></script>
        <script type="text/javascript" src="/js/page.js"></script>
        <script type="text/javascript" src="/js/module.js"></script> -->
    </body>
</html>