<!DOCTYPE html>
<html>
<head>
<title>Portfolio manager jnicolas.art </title>
<link rel='stylesheet' href='/css/bootstrap/bootstrap.min.css' type="text/css"/>
<link rel="stylesheet" href="/css/font-awesome-4.7.0/font-awesome.min.css" type="text/css"/>
<link rel="stylesheet" href="/css/glyphicons/glyphicons.css" type="text/css"/>
<link rel="stylesheet" href="/css/bootstrap/bootstrap-table.min.css" type="text/css"/>
<link rel="stylesheet" href="/css/bootstrap/tagsinput.css" type="text/css"/>
<link rel="stylesheet" href="/css/bootstrap/bootstrap-colorpicker.css" type="text/css"/>
<link rel="stylesheet" href="/css/datetimepicker/bootstrap-datetimepicker.css" type="text/css"/>
<link rel='stylesheet' href='/css/fullcalendar/core/main.css' type="text/css"/>
<link rel='stylesheet' href='/css/fullcalendar/daygrid/main.css' type="text/css"/>
<link rel='stylesheet' href='/css/fullcalendar/timegrid/main.css' type="text/css"/>
<link rel='stylesheet' href='/css/fullcalendar/list/main.css' type="text/css"/>
<link rel='stylesheet' href='/css/bootstrap/bootstrap4-toggle.min.css' type="text/css"/>
<link rel='stylesheet' href='/css/bootstrap/bootstrap-table-reorder-rows.css' type="text/css"/>
<link rel='stylesheet' href='/css/style.css' type="text/css"/>
</head>
<body>
    <nav class="nav" id="nav-user-info">
        <img src="logo.png" width="50" height="50"/>
           <!--ul class="nav">
             <li class="nav-pseudo"><?php echo $_SESSION['user']['firstname']." ".strtoupper($_SESSION['user']['lastname']);?></li>
             <li><a href="/logout"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
           </ul-->
     </nav>
   <div class="container">
     <ul class="nav">
       <li class="nav-item">
         <a class="nav-link active" href="/page"><i class="fa fa-file-text"></i> Pages</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="/media"><i class="fa fa-file-photo-o"></i> Médias</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="/event"><i class="fa fa-calendar"></i> Évènements</a>
       </li>
       <li class="nav-item">
         <a class="nav-link " href="/module"><i class="fa fa-puzzle-piece"></i> Modules</a>
       </li>
         <li class="nav-item">
             <a class="nav-link " href="/user"><i class="fa fa-users"></i> Utilisateurs</a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="/library"><i class="fa fa-book"></i> Bibliothèque</a>
         </li>
         <li class="nav-item">
             <a class="nav-link " href="/settings"><i class="fa fa-cog"></i> Paramètres du site</a>
         </li>
     </ul>
